.blip{
    height: 180px;
    width: 180px;
    position: relative;
    border-radius: 100%;
    overflow: visible;
    margin: 0px auto 30px;
        
    .circle{
        overflow: hidden;
        position: absolute;
        border: 3px solid #3FFFFB;
    }

    .circle-1{
        background: #FFF91A;
        height: 40%;
        width: 40%;
        top:30%;
        left:30%;
        border-radius: 100%;
        z-index: 3;
        opacity: .75;
        transform-origin: center;
        animation: pulsebackheavy alternate infinite 2000ms;
    }

    .circle-2{
        background: radial-gradient(transparent 0%, transparent 40%, #3FFFFB 100%);
        height: 100%;
        width: 100%;
        border-radius: 100%;
        z-index: 2;
        opacity: .6;
        transform-origin: center;
        animation: pulse ease-out infinite 2000ms;
    }

    .circle-3{
        background: #1EEDC0;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        z-index: 1;
        opacity: .6;
        transform-origin: center;
        animation: pulseback alternate infinite 1000ms;
    }

}    